@import "tailwindcss";
@plugin "daisyui" {
	/* biome-ignore lint/correctness/noUnknownProperty: SALUT */
	themes:
		nord --default,
		abyss --prefersdark,
		cupcake,
		dracula;
}

@theme {
	--font-retro: "VT323", sans-serif;
}

@layer base {
	:root {
		@apply text-[rgba(255,255,255,0.87)] bg-[#242424] font-sans;
	}

	body {
		@apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
	}
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	opacity: 0.15;
	background: url("./assets/background_village.jpg");
	background-size: cover;
	pointer-events: none;
}

@keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 256px 224px;
	}
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion) {
	*,
	::before,
	::after {
		animation: none;
	}
}
